{% extends "base.html" %}
{% load bootstrap %}
{% block title%}Home Page{% endblock %}
{% block content %}

<div class="media" class="border-solid" class="border" class="border border-primary">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
        <form action="{% url 'homepage' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}

            <h5 class="mt-0">{{ gossip.user}} heard that {{ form.title }}</h5>
            {{ form.content }}
            {{ form.photo }}
            <button type="submit" class="btn btn-primary">Spread Gossip!</button>
        </form>
    </div>
</div>
<hr>
{% for gossip in gossips %}
<div class="media" class="border border-primary" class="rounded-pill">
    <img src="/media/{{ gossip.photo }}" class="mr-3" style="width: 64px;">
    <div class="media-body">
        <h5 class="mt-0">{{ gossip.user}} heard that {{ gossip.title }}</h5>

        {{ gossip.content }}
        {{ gossip.creation_date }}
        <div>
            <i class="fas fa-2x fa-surprise" style="color: #5b80b2"> {{ gossip.good_one }}</i>
        </div>
        <div class="media mt-3">
            <a class="mr-3" href="#">
                <img src="..." class="mr-3" alt="...">
            </a>
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
                <div>
                    <i class="fas fa-2x fa-surprise" style="color: #5b80b2"> {{ gossip.good_one }}</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
